#git clone https://github.com/cosmiq/solaris.git
#cd solaris
#conda env create -f environment-gpu.yml
#conda activate solaris
#pip install .

#conda install -c conda-forge gdal 
#conda install -c conda-forge rtree
#rasterio
#geopandas
descartes
rio-tiler
scikit-learn
seaborn
#jupyter
